.film-card {
  width: calc(50% - 82px);
  height: 268px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.content-container {
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  min-height: 100%;
}
